.card-front {
    border: 2px solid black;
    width: 400px;
    height: 300px;
    margin: 30px 50px 0px 50px;
    border-radius: 30px;
}

.card-back {
    border: 2px solid black;
    height: 300px;
    width: 400px;
    
}

.card-front img {
    border-radius: 30px;
    width: 400px;
    height: 300px;
}

.card-front .front {
    display: block; 
}

.card-back .front {
    display: none; 
 }

.card-back .back {
    display: block; 
}
 
.card-front .back {
    display: none; 
}

.card-title-show {
    display: block;
    color: black;
    font-size: 32px;
    padding-left: 50px;
    margin-top: 10px;
}

.card-title-hide {
    display: none;
}

@media screen and (max-width: 768px) {

}