.covers {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 40px 0px;
}

.music-headline {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.music-headshot {
    display:block;
    margin: 20px auto;

    border-radius: 50%;
    width: 200px;
    height:auto;
}

.music-info p {
    font-size: 16px;
    max-width: 550px;
    line-height: 150%;
    margin: 0px auto;
    text-align: center;
}

.music-links {
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.music-info a {
    margin: 0px 10px;
    font-size: 20px;
}

.music-info .music-link {
    color: black;
}

.music-info .music-link:hover {
    color: grey;
}

.covers a {
    display:flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1440px) {
    .covers {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 40px 0px;
    }
}

@media screen and (max-width: 950px) {
    .covers {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: 40px 0px;
    }
}