.app {
    display: flex;
    flex-direction: column;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

.app .page {
    display:flex;
} 

.linkedin {
    color: rgb(10, 102, 194);
}

.github {
    color: #24292F;
}

.youtube {
    color: #FF0000;
}

svg:hover {
    transform: scale(1.2);
}