.about-headline {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.about-headshot {
    display:block;
    margin: 20px auto;

    border-radius: 50%;
    width: 200px;
    height:auto;
}

.about-info p {
    font-size: 16px;
    max-width: 550px;
    line-height: 150%;
    margin: 0px auto;
    text-align: center;
}

.about {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin: 60px 0px;
}

@media screen and (max-width: 1500px) {
    .about {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        margin: 40px 0px;
    }
}

@media screen and (max-width: 920px) {
    .about {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 40px 0px;
    }
}

@media screen and (max-width: 670px) {
    .about {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-content: center;
        margin: 40px 0px;
    }
}