footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 7px;
}

.icons {
    display:inline-block;
    margin-bottom: 7px;
}

.icons a {
    color: inherit;
}

.icons svg {
    margin: 0px 12px;
}
